<mat-toolbar class="top-toolbar">

  <!-- Logo -->

  <span class="logo">
    BEZOHMINDS
  </span>


  <span class="spacer"></span>


  <!-- Search -->

  <button
    mat-icon-button
    title="Search">

    <mat-icon>
      search
    </mat-icon>

  </button>


  <!-- Chatbot -->

  <button
    mat-icon-button
    title="Project Assistant"
    (click)="toggleChat()">

    <mat-icon>
      smart_toy
    </mat-icon>

  </button>


  <!-- Theme -->

  <button
    mat-icon-button
    title="Toggle Theme"
    (click)="toggleTheme()">

    <mat-icon>
      {{ darkMode ? 'light_mode' : 'dark_mode' }}
    </mat-icon>

  </button>


  <!-- Profile -->

  <button
    class="profile-btn"
    [matMenuTriggerFor]="profile">

    <div class="avatar">
      {{ initials }}
    </div>

  </button>

</mat-toolbar>


@if (chatOpen) {

  <div class="chatbot-wrapper">
    <app-chatbot (close)="toggleChat()"></app-chatbot>
  </div>

}


<!-- ==============================
     PROFILE MENU
================================ -->

<mat-menu #profile="matMenu">

  <div class="profile-box">

    <div class="profile-circle">
      {{ initials }}
    </div>


    <h3>
      {{ userEmail }}
    </h3>


    <p>
      Administrator
    </p>

  </div>


  <!-- Theme Settings -->

  <button
    mat-menu-item
    routerLink="/theme-settings">

    <mat-icon>
      palette
    </mat-icon>

    <span>
      Theme Settings
    </span>

  </button>


  <!-- Logout -->

  <button
    mat-menu-item
    (click)="logout()">

    <mat-icon>
      logout
    </mat-icon>

    <span>
      Logout
    </span>

  </button>

</mat-menu>